.shadow-nabvar{
box-shadow: 2px 2px 5px #989191;
}

.background-card-title{
  background: #029bcc !important;
}

.background-card{
  background: #24ccff;
}

.footer-euripcar{
  background: #3fb7de;
  color: white;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
}

.line-vertical {
  display: inline-block;
  border-right: 1px solid #ffffff;
  height: 120px;
  margin: 1%;
}

@media(max-width: 450px ){
  footer {
    position: unset;
  }
}
